
@{
    ViewData["Title"] = "FeverCheck";
}

<h1>Doctor</h1>

<body>
      <div class="main-content">
          <form asp-action="FeverCheck" method="post">
              <label >Enter your temperature (°C):</label>
              <input type="number" step ="0.1"  name="temperature" required ="required" />
              <input type="submit" value="Fever check" />
          </form>
          @if(ViewBag.Message!=null)
        {
            <p>@ViewBag.Message</p>
        }
    </div>
         
</body>
