@{
     ViewData["Title"] = "About";
}
<body>
    @*<div class="main-content">*@
        <h1>My CV</h1>
        <h2>Deployments</h2>
        <p>2007--2021   Preschool teacher</p>
        <p>2003--2007   Teacher</p>
        <p>1990--2001   Bank clerk</p>
        <h2>Education</h2>
        <p>2019--2021   Software development</p>
        <p>2000-2004    Primary school education</p>
        <p>1990--2000   Internal education within banking, private banking</p>
        <h2>Computer skills</h2>
        <p>Objectorientated programming in C#</p>
        <p>Databasedevelopment and database design</p> 
        <p>Advanced .NET</p>
        <p>Windows and web app development</p>
        <p>Frontend -  Html, css and Java Script</p>
        <p>Versionmanaging - Git</p>
 @*  </div>*@
</body>




