@{
    ViewData["Title"] = "Contact";
    string name = "Pippi Long";
    string address = "Villa Villerkulla, Gotland";
    string phoneNumber = "075-5368977";
    string email = " pippilong.hotmail.com";
}
<body>
    <div class="main-text">
        <h1>Contact</h1>
        <p>@name</p>
        <p>@address</p>
        <p>@phoneNumber</p>
        <p>@email</p>
    </div>
</body>


