@{
    ViewData["Title"] = "Index";
    string message = "Welcome to my Site";

}
<body>
    @*<div class="main-content">*@
        <h1 id=index-header>@message</h1>
        <h2>Do you need a programmer, I'm here!</h2>

        <p class="index_text">
            I am a curious, eager to learn and really think programming is fun. Do you want to know more?
        </p>
        <p class="index_text">
            Just click on the links above to read some more.
        </p>
   @* </div>*@
</body>





