@{

}

<body>
    @*<div class="main-content">*@
        <h1>Projects in my education</h1>
        <ul class="menu-items">
            <li>
                <a href="https://github.com/songmarja/HtmlAndCssOrigin-main.git">Butterflies</a>
                <p> A small app about learning some html and css. I used css-grid to design the page</p>
            </li>
            <li>
                <a href="https://github.com/songmarja/Hangman.git">Hangman game</a>
                <p> A little game - Hangman, to learn about c# in common, and about arrays.</p>
            </li>
            <li>
                <a href="https://github.com/songmarja/VendingMachine.git">A Vendingmachine</a>
                <p> A vending that can be input different denominations and return products and change.</p>
                <p>It's about c# inheritance, polymorphism, interfaces and abstract classes.</p>
            </li>
            <li>
                <a href="https://github.com/songmarja/ConsoleCalculator.git">A very simple calculator</a>
                <p> An education task to excercise C# programming.</p>
            </li>
            <li>
                <a href="https://github.com/songmarja/Calculator2WithTests.git">A  simple calculator, with some added features</a>
                <p> A education task to excercise C#, and unit tests with xunit.</p>
            </li>
        </ul>
    @*</div>*@
</body>
