.grid-container {
    display: grid;
    grid-template-columns: 1fr,1fr, 1fr;
    grid-template-rows: 1fr auto 40px;
    grid-template-areas: "navbar navbar navbar"
        "main-content main-content main-content"
        "footer footer footer";
    gap: 16px;
}
.navbar {
    grid-area: navbar;
    display: grid;
    grid-template-areas: "site-logo menu-items  ... ";
    gap: 2em;
    align-items: center;
}

#site-logo {
    grid-area: site-logo;
}

.menu-items {
    grid-area: menu-items;
}
.main-content {
    grid-area: main-content;
   /* gap: 25px;*/
   /* display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main-text ";*/
}
       
   /* .main-text {
    grid-area: main-text;
}*/

.footer {
    grid-area: footer;
}